*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
div{
    display: grid;
    justify-content: center;
}
.gallery:hover, .gallery:active {
    color:rgb(255, 0, 0);
    text-decoration: none;

}
.about:hover, .about:active{
    background-color:chartreuse;
    text-decoration: dotted;
}
.contacts:hover, .contacts:active{
    color:rgb(255, 163, 5);
    font-family: monospace;
    font-size: 20px;
    text-decoration: none;
}
a:link{
    color:rgb(0, 0, 0);
}
h1{
    text-align: center;
}
a:visited{
    color: blueviolet;
}
div{
    border: 1px solid grey;
    box-shadow: 3px 5px #e9e6e6;
    background-color: #ffffff;
    display: inline-block;
    justify-content: center;
    height: 250px;
    width: 280px;
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
    
}
img{
    height: 180px;
    width:250px;
    margin-bottom: 15px;
    border-radius: 10px;
    transition: ease-in 0.5s;

}
img:hover{
    transform: scale(1.1);
    box-shadow:2px 4px rgb(154, 154, 238);

}
p{
    font-weight: 800;
    text-align: center;
}